div.content{    
    font-size: 16px;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
div.wrapper{
    width: 100% !important;
}
div.tieu_de{
    text-align: center;
    background-color: #111;;
    color:white;
}
#quan_ly_nhap_hang{
    font-size: 35px;
}
#CUA_SO_XU_LY{
    height: 50px;
    margin-bottom: 50px;
}

#Th_Nha_hang{
    margin-top: 15px;
    float: right;
    font-size: 25px;
}
#btn_cap_nhat, #btn_nhom_tivi, #btn_quay_ve, #btn_tao_phieu_ban{
    height: 50px;
    background-color: #ee7915;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    border: #111
}
img.image{
    width: 150px;
    height: 150px;
}

div.info{
    text-align: left;
}
hr{
    height: 2px;
    color: #4a91d8;
    background-color: #4a91d8;
}